
body
{
	font-family:calibri;
	font-size: 13px
	margin:0px;
	padding: 0px;
	background-color: azure;

}
h1
{
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}
header
{
	height: 100px;
	/*font-weight: bolder;*/
}
footer
{
	height: 80px;
	padding-top: 30px;
	text-align: center;
	background-color: #C5C5C5;
	border-top: 2px solid #AAA; 

}
nav
{
	width: 100%; /* permet d'etendre le menu de navigation sur toute la page*/
	background-color: #424558;
}
nav ul 
{
	margin:0px;
	padding:0px;
}
nav li
{
	list-style-type: None ;/*  permet de retirer les point situe devant les elts d'une liste*/
	float: left;  /* permet de mettre sur une ligne les elts d'une liste */
}
nav a 
{
	display: inline-block;
	text-decoration: none; /* permet de supprimer le trait qui souligne le lient*/
	padding: 20px 30px;
	color:#FFF; /*blanc*/
	text-transform: uppercase;  /*uppercase=majuscule*/
	font-size: 15px;

}
tbody
{
	text-align: center;
}
.table
{
	display: table;
	margin:0 auto;
}
.menu-ind:hover, .presentation
{
	border-top: 5px solid #FF007F;
	border-bottom: 5px #FF007F ;
	background-color: rgba(64, 200, 130, 0.15);

} 
.menu-pre:hover, .Parcours
{
	border-top: 5px solid blue; 
	border-bottom: 5px solid blue;
	background-color:rgba(241, 211, 79, 0.15);
}
.menu-parcours:hover, .competences
{
	border-top: 5px solid #F3D617;
	border-bottom: 5px solid #F3D617;
	background-color: rgba(000, 112, 192, 0.15);
}

.menu-competences:hover,.contact
{
	border-top: 5px solid cyan;
	border-botton: 5px solid cyan;
	background-color: rgba(228, 77, 38, 0.15);
}


.menu-con:hover,.contact
{
	border-top: 5px solid fuchsia;
	border-botton: 5px solid fuchsia;
	background-color: rgba(228, 77, 38, 0.15);
}
nav li:hover a
{ 
	padding: 15px 30px 20px 30px;
}
section
{
	width: 100%;
	min-height: 300px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.sec
{
	margin: 0px 10%;
}
.lef
{
	float: left;
	width: 30%;
}
.right
{
	float: left;
	width:70%;
}
.clef, .cright, .sousleft, .sousright
{
	width: 50%;
	float: left;
}
.sec::after,.exp::after, .reco::after
{
	content: "";
	display: table;
	clear: both;
}
.flet
{
	float:left;
}
.left
{
	width: 30%;
	float: left;
}
.right
{
	width: 70%;
	float: left;
}
.lefte
{
	width:50%;
	float: left;
	/*margin-left:10px;*/
}
.righte
{
	width:50%;
	float: left;
}
.parcours
{
	background-color: #EEE;
	border-top: 5px solid magenta;
	border-bottom: 5px solid magenta;
}
.couleur
{
	background-color: rgba(138, 43, 226, 0.15);
	border-top:5px solid red ;
	border-bottom:5px solid red ;
}
.couleur1
{
	background-color: skyblue;
	border-top:5px solid burlywood ;
	border-bottom:5px solid burlywood  ;
}
.html
{
	border:5px solid blue;
}
.presentation
{
	border: 5px solid #C9A0DC;
	padding-bottom:5px;
	padding-top: 5px;
	background-color: #D2CAEC;
}
.couleur3
{
	border:5px solid #00FF00;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #83A697;
}

@media screen and (max-width: 780px)
header
{
	height: 50px;
}
h1
{
	font-size: 28px;
	margin:30px 0px 0px 0px;
}
nav li a 
{
	font-size: 12px;
	padding: 10px;
}
nav li: hover a
{
	padding:5px 10px 10px 10px;
}
section
{
    font-size: 12px;
	padding: 10px;	
}
h3 h2 
{
    font-size: 28px;
	margin:30px 0px 0px 0px;	
}